---

name: git actions

on:
  workflow_dispatch:
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env :
      AWS_ACCESS_KEY_ID: ${{secrets.access_key}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.secret_key}}
      AWS_DEFAULT_REGION: "ap-southeast-2"
      PACKER_VERSION: "1.14.2"


    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform -chdir=terraform fmt -check

      - name: Terraform Init
        run: terraform -chdir=terraform init

      - name: Terraform Validate
        run: terraform -chdir=terraform validate

      - name: Terraform Plan
        run: terraform -chdir=terraform plan

      - name: Terraform Apply
        run: terraform -chdir=terraform apply -auto-approve
